[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sivs"]
	path = sivs
	url = https://github.com/mmahmoudian/sivs
[submodule "varhandle"]
	path = varhandle
	url = https://codeberg.org/mehrad/varhandle
